<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
          <nav class="navbar">
            <div class="container-fluid nav">
                <ul class="navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/sales">Sales</a></li>
                    <li><a href="/stock">Stock</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li class="login"><a href="/login">Login</a></li>
                </ul>
            </div>
        </nav>

        <div>
            <h1>Dashboard</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit blanditiis sequi expedita voluptas itaque doloribus dolores optio cupiditate nihil rerum earum, rem voluptate animi pariatur officia?</p>
        </div>

        
    </div>
</body>
</html>