<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="container-fluid nav">
                <a href="/" class="logo"><img src="/myduka_logo.png" alt="Company Logo" width="120" height="40"></a>
                <ul class="navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/sales">Sales</a></li>
                    <li><a href="/stock">Stock</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </nav>
       
        <div class="container">
            <h1 class="hello">Hello World!!</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore obcaecati blanditiis qui minus et, neque distinctio dolor. Tenetur obcaecati, aliquid commodi veritatis error facere, et laborum dolores quisquam pariatur recusandae maxime asperiores nemo nam perferendis esse provident rem porro optio facilis cum veniam explicabo earum. Voluptatum quam in placeat ipsam repellendus consequuntur et. Quod doloribus eos totam ex ullam laudantium officiis voluptates quam reiciendis alias aspernatur, porro architecto? Facilis porro animi nisi aspernatur eius nemo praesentium expedita alias aliquam, ut voluptatum sed aperiam dolores numquam, corrupti corporis blanditiis, quam hic accusamus omnis eveniet voluptas laboriosam. Quas optio consequuntur adipisci sit.</p>
        </div>
    </div>
</body>
</html>